<table class="table table-light">
  <thead>
    <tr>
      <th class="table-dark bg-primary">Users You Are Following</th>
      <th class="table-dark bg-primary" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user.followees.empty? %>
      <td>You are not following anyone!.</td>
    <% else %>
      <% current_user.followees.each do |followee| %>
        <tr>
          <td><%= link_to followee.full_name, followee %></td>
          <td><%= link_to 'Unfollow', unfollow_user_path(followee), method: :delete %></td>
        </tr>
      <% end %>
  <% end %>
</table>

<table class="table table-light">
  <thead>
    <tr>
      <th class="table-dark bg-primary">Followers</th>
      <th class="table-dark bg-primary" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% if current_user.followers.empty? %>
      <td>No followers.</td>
    <% else %>
      <% current_user.followers.each do |follower| %>
        <tr>
          <td><%= link_to follower.full_name, follower %></td>
          <td><%= link_to 'Follow', follow_user_path(follower) %></td>
          <td></td>
        </tr>
      <% end %>
  <% end %>
</table>
